{% extends 'MGAdminBundle:Bases:base.html.twig' %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        <div class="span4">
            <div class="row">
                <h3>Asignar usuarios al repositorio</h3>
                <form action="{{  path('mg_repo_addclients',{'repoId': repId, 'empId':empId}) }}" method="POST" class="update_form">
                    <fieldset>
                        {{ form_errors(assignUserForm) }}
                        {{ form_label(assignUserForm.clientes, 'Usuarios') }}
                        {{ form_widget(assignUserForm.clientes, {'attr': {'class':'listedUsers', 'style': 'height: 350px;'}}) }}
                        {{ form_rest(assignUserForm) }}
                    </fieldset>
                    <input type="submit" class="btn btn-success" value="Guardar">
                    {% if(is_granted('ROLE_SUPER_ADMIN')) %}
                        <a href="{{ path('mg_repoadmin_homepage', {'page': 1}) }}" class="btn btn-danger">Volver</a>
                    {% else %}
                        <a href="{{ path('mg_repo_by_empresa', {'page': 1, 'empId': empId}) }}" class="btn btn-danger">Volver</a>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="span7">
            <div class="hero-unit instrucBlock">
                <h3>Instrucciones para agregar clientes a un repositorio</h3>
                <p>En la lista de la izquierda se puede observar una lista de usuarios de la empresa.</p>
                <p>Si el repositorio actual tiene asignados posibles usuarios, estos aparecerán seleccionados (con una marca a la izquierda). Para seleccionar o deseleccionar un usuario, basta con marcar la casilla de selección.</p>
                <p> Una vez seleccionados los usuarios que deseados, pulsar el botón verde rotulado como Guardar</p>
            </div>
        </div>
    </div>
{% endblock %}