{% extends 'MGAdminBundle:Bases:base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="span12">
            <div class="row">
                <h3>Información de {{ userToEdit.username }}</h3>
                <form action="{{  path('mg_user_edit', {'empId':empId, 'userName':userToEdit.username}) }}" method="POST" class="update_form">
                    <fieldset>
                        {{ form_errors(editUserForm) }}
                        <div class="span4">
                        {{ form_label(editUserForm.email, 'Email') }}
                        {{ form_widget(editUserForm.email) }}

                        {{ form_label(editUserForm.name, 'Nombre') }}
                        {{ form_widget(editUserForm.name) }}

                        {{ form_label(editUserForm.apellidos, 'Apellidos') }}
                        {{ form_widget(editUserForm.apellidos) }}

                        {{ form_label(editUserForm.fechaNacimiento, 'Fecha Nacimiento') }}
                        {{ form_widget(editUserForm.fechaNacimiento) }}

                        {{ form_label(editUserForm.telefono, 'Teléfono') }}
                        {{ form_widget(editUserForm.telefono) }}

                        {{ form_label(editUserForm.telefonoMvl, 'Teléfono Movil') }}
                        {{ form_widget(editUserForm.telefonoMvl) }}
                    </div>
                    <div class="span3">
                        {{ form_label(editUserForm.direccion, 'Dirección') }}
                        {{ form_widget(editUserForm.direccion) }}

                        {{ form_label(editUserForm.ciudad, 'Ciudad') }}
                        {{ form_widget(editUserForm.ciudad) }}

                        {{ form_label(editUserForm.codigoPostal, 'Código Postal') }}
                        {{ form_widget(editUserForm.codigoPostal) }}

                        {{ form_label(editUserForm.pais, 'Páis') }}
                        {{ form_widget(editUserForm.pais) }}

                        {{ form_label(editUserForm.nif, 'NIF/CIF') }}
                        {{ form_widget(editUserForm.nif) }}

                        {{ form_label(editUserForm.rol, 'Perfil') }}
                        {{ form_widget(editUserForm.rol) }}
                        <a data-content="El perfil del usuario determinará los diferentes niveles de acceso al sistema. Estos perfiles son: Gestor/a, Empleado/a y Cliente/a" data-original-title="¿Que es el Perfil?" class="btn toolTip">?</a>

                        <label>Empresas
                            <a data-content="Deberás seleccionar la empresa a la que quieres asignar al usuario de las que ya perteneces." data-original-title="¿Que es la Empresa?" class="btn toolTip">?</a>
                        </label>
                        {{ form_widget(editUserForm.empresas) }}

                        {{ form_rest(editUserForm) }}

                    </div>
                </fieldset>
                    <input type="submit" value="Guardar Cambios" class="btn btn-success">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-danger" href="{{ path('mg_useradmin_homepage', {'page': 1 }) }}">Volver</a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('mg_user_by_empresa', {'empresaID': empId, 'page': 1 }) }}">Volver</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block customjs %}
    <script src="{{ asset('bundles/adminbundle/js/custom.js') }}"></script>
{% endblock %}