{% extends 'MGAdminBundle:Bases:base.html.twig' %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        <div class="span4">
            <div class="row">
                <h3>Asignar usuarios al servicio</h3>
                <form action="{{  path('mg_serv_addusers',{'servId': servId, 'empId':empId}) }}" method="POST" class="update_form">
                    <fieldset>
                        {{ form_errors(assignUserForm) }}
                        {{ form_label(assignUserForm.users, 'Usuarios') }}
                        {{ form_widget(assignUserForm.users, {'attr': {'class':'listedUsers', 'style': 'height: 350px;'}}) }}
                        {{ form_rest(assignUserForm) }}
                    </fieldset>
                    <input type="submit" class="btn btn-success" value="Guardar">
                    {% if(is_granted('ROLE_SUPER_ADMIN')) %}
                        <a href="{{ path('mg_servadmin_homepage', {'page': 1}) }}" class="btn btn-danger">Volver</a>
                    {% else %}
                        <a href="{{ path('mg_serv_by_empresa', {'page': 1, 'empId': empId}) }}" class="btn btn-danger">Volver</a>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="span7">
            <div class="hero-unit instrucBlock">
                <h3>Instrucciones para agregar usuarios a un Servicio</h3>
                <p>En la lista de la izquierda se puede observar una lista de usuarios de la empresa.</p>
                <p>Si el servicio actual tiene asignados usuarios, estos aparecerán seleccionados (con una marca a la izquierda), para seleccionar o deseleccionar un cliente, basta con marcar la casilla de selección.</p>
                <p>Una vez seleccionados los usuarios que desee, pulse el botón verde rotulado como Guardar</p>
            </div>
        </div>
    </div>
{% endblock %}